@import './color.scss';

body{
    font-family: 'Roboto', sans-serif;
    background-color: $mainBackgroundColor;
}

.bg-main{
    background-color: $mainColor;
}

.my-jumbotron {
    padding: 16px;
    background-color: #13bde2;
    color: white;
    display: flex;
    justify-content: space-between;
    & .caption {
      margin: auto;
      padding-right: 16px;
      width: 100%;
      vertical-align: middle;
    }
  }
  .jumb-image {
    width: 150px;
  }

.my-card {
    padding: 16px;
    display: block;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0,0,0,.12);   
    background-color: white;
    & .title{
        display: block;
        font-weight: 100;
        
    }

    & .counter {
        display: block;
        font-weight: 900;
        text-align: right;
        font-size: 2rem;
    }
}


.bottom-nav{
    border-top: 1px solid #ddd;
    & .row {

        & .col {
            padding: 8px;
            cursor: pointer;
            &:hover{
                background-color: #ddd;
            }

            & i {
                display: block;
                pointer-event: none
            }
            & span {
                display: block;
                font-size: 0.5rem;
                pointer-event: none
            }
            
        }
        & .col.active {
            color: $mainColorDarker !important;
        }
    }
}

.btn-main-outline{
    color: $mainColor;
    border-color: $mainColor;
}